# Copy this file to .env and fill in your Railway MySQL credentials
DB_HOST=gondola.proxy.rlwy.net
DB_PORT= 5502
DB_USER=root
DB_PASSWORD=gbUrryznpihiXBbzPgRpjHcRTnmOthKY
DB_NAME=railway
PORT=5001
JWT_SECRET=dbms_project_secret_key